@charset "UTF-8";
.nav-link:hover {
  background-color: brown;
  border-radius: 5%; }

.servicios {
  margin: 1em;
  font-size: 1.5em; }

.row-height {
  height: 20em; }

.servicios-fondo {
  background-image: url(../images/disenÌƒomod.jpg);
  height: 100%; }

.viewport {
  height: 100vh; }

.fondo {
  background-color: #ced1d3; }

.relleno {
  padding: 1em; }

.redes {
  float: right; }

#menu-lg {
  display: none; }

.images {
  height: 20em; }

.float {
  float: left;
  height: 30em;
  width: 30em; }

.text {
  font-size: em; }

@media screen and (max-width: 394px) {
  nav div h1 {
    font-size: 1em; }
  footer {
    font-size: 0.8em; }
  .text {
    font-size: 2em; } }

@media screen and (min-width: 768px) {
  .navbar {
    display: none; }
  #menu-lg {
    display: block; }
  .font-nav {
    font-size: 1em; }
  h2 {
    font-size: 1.5em; }
  .redes_img {
    width: 30px;
    height: 30px; } }

@media screen and (min-width: 1024px) {
  .font-nav {
    font-size: 1em; } }
