.nav-link:hover {
    border-bottom: 2px solid red;
}
.logo {
    height: 4em;
    padding: 5px;
    margin-bottom: 3px;
}

.servicios {
    margin: 1em;
    font-size: 1.5em;
    
}
.row-height{
    height: 20em;
}
.servicios-fondo {
    background-image: url(../images/diseñomod.jpg);
    height: 100%;
}

.servicios-fondo2 {
    background-image: url(../images/asesor-mod.jpg);
    height: 100%;
}
.bg-servi{
    /*background-image: linear-gradient(white, rgb(163, 165, 140));*/
    background-color: rgb(234, 238, 240);
}
.bg-servi2{
    background-color: rgb(234, 238, 240);
}
.viewport {
    height: 100vh;
}

.btn-contacto {
    text-decoration: none;
    background-color: rgb(12, 12, 12);
    border-radius: 5px;
    color: white;
    padding: 1em;
    box-shadow: 1px 3px 5px black;
}

.relleno{
    padding: 1em;
}

.redes {
    float: right;
}


#menu-lg {
    display: none;
}

.images{
    height: 20em;
}
.float{
    float: left;
    height: 30em;
    width: 30em;
}

.text{
    font-size: em;
}
@media screen and (max-width: 394px) {
    nav div h1 {
        font-size: 1em;
    }
    footer{
        font-size: 0.8em;
    }
    .text{
        font-size: 1em;
    }
}
@media screen and (min-width: 768px) {
    .navbar {
        display: none;
    }
    #menu-lg {
        display: block;
    }
    .font-nav {
        font-size: 1em;
    }
    h2 {
        font-size: 1.5em;
    }
    .redes_img{
        width: 30px;
        height: 30px;
    }    
}

@media screen and (min-width: 1024px) {
    .font-nav {
        font-size: 1em;
    }
    .text{
        font-size: 1.5em;
    }
}